/* Couleurs de fond */
#AnchorPane {
    -fx-background-color: #212121;
}
#paneMenus {
    -fx-background-color: #424242;
}

/* Couleurs de texte */
.label {
    -fx-text-fill: #FFF;
}

/* Boutons */
.button {
    -fx-background-color: #720000;
    -fx-text-fill: #FFF;
    -fx-font-weight: bold;
}

/* TableView */
.table-view {
    -fx-background-color: #303030;
}

/* TableView Header */
.table-header-background {
    -fx-background-color: #424242;
}

/* TableView Cell */
.table-cell {
    -fx-background-color: #424242;
    -fx-text-fill: #FFF;
}
