.button{
    -fx-background-color: #720000;
    color: white;
}

.button:hover{
    -fx-background-color: #5B0000;
    color: white;
}

.button:pressed{
    -fx-background-color: #5B0000;
    color: white;
}

.combo-box .text-input {
    -fx-text-fill: white;
}
.combo-box .list-cell:filled:selected .text {
    -fx-text-fill: white;
}

